@media (max-width: 320px)
  {
    /* ------------ ------------ ------------ ------------ */
    /* --Style Guide-- ------------ */

    /* ------------ ------------ ------------ ------------ */
    /* --Background Decor-- ------------ */
    .bgdecor1, .bgdecor2
      {
        height: 1rem;
      }

    /* ------------ ------------ ------------ ------------ */
    /* --Main-- ------------ */

    /* ------------ ------------ ------------ ------------ */
    /* --Section 1 Giới Thiệu-- ------------ */

    /* ------------ ------------ ------------ ------------ */
    /* --Section 2 Giảng Viên-- ------------ */
    .cardGiangVien
      {
        margin: 0 1rem 1.2rem 0;
        padding: 1.2rem;
        width: calc(100vw - 4rem);
      }
    .carouselGiangVien .slick-dots
      {
        width: calc(100vw - 1rem); /* Bằng container */
      }

    /* ------------ ------------ ------------ ------------ */
    /* --Section 3 Nội Dung-- ------------ */

    /* ------------ ------------ ------------ ------------ */
    /* --Section 4 Giáo Trình-- ------------ */

    /* ------------ ------------ ------------ ------------ */
    /* --Section 5 Điều Kiện Học-- ------------ */
    .boxYeuCauContent
      {
        width: 100%;
      }

    /* ------------ ------------ ------------ ------------ */
    /* --Section 6 Feedback Của Học Viên-- ------------ */
    .cardFeedback picture img
      {
        width: calc(100vw - 4rem);
      }

    /* ------------ ------------ ------------ ------------ */
    /* --Section 7 Liên Hệ-- ------------ */

    /* ------------ ------------ ------------ ------------ */
    /* --Map-- ------------ */

    /* ------------ ------------ ------------ ------------ */
    /* --Section 8 Blog Công Nghệ-- ------------ */

    /* ------------ ------------ ------------ ------------ */
    /* --Footer-- ------------ */
    .grid-container
      {
        grid-gap: 2rem;
        grid-template-columns: 100%;
      }
  }